swagger: "2.0"
info:
  title: MoMo APIs
  description: HTTP Service for accessing MTN's MoMo API.
  termsOfService: https://github.com/wondenge/momo-go/blob/master/LICENCE
  contact:
    name: William Ondenge
    email: ondengew@gmail.com
    url: https://www.ondenge.me
  license:
    name: Apache License
    url: https://github.com/wondenge/momo-go/blob/master/LICENCE
  version: "1.0"
host: sandbox.momodeveloper.mtn.com
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /apiuser/{APIUser}:
    get:
      tags:
      - user
      summary: GetUserDetails user
      description: GET API User Details
      operationId: user#GetUserDetails
      produces:
      - application/json
      parameters:
      - name: APIUser
        in: path
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/UserGetUserDetailsResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/UserGetUserDetailsBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/UserGetUserDetailsInternalErrorResponseBody'
      schemes:
      - https
  /collection/token:
    post:
      tags:
      - collection
      summary: NewToken collection
      description: Creates an Access Token.
      operationId: collection#NewToken
      produces:
      - application/json
      parameters:
      - name: string
        in: body
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CollectionNewTokenResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/CollectionNewTokenUnauthorizedResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CollectionNewTokenInternalErrorResponseBody'
      schemes:
      - https
  /collection/v1_0/account/balance:
    get:
      tags:
      - collection
      summary: GetBalance collection
      description: Get the balance of the account
      operationId: collection#GetBalance
      produces:
      - application/json
      parameters:
      - name: string
        in: body
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/CollectionGetBalanceResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/CollectionGetBalanceBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CollectionGetBalanceInternalErrorResponseBody'
      schemes:
      - https
  /collection/v1_0/accountholder/{accountHolderIdType}/{accountHolderId}/active:
    get:
      tags:
      - collection
      summary: RetrieveAccountHolder collection
      description: Checks if an account holder is registered and active in the system
      operationId: collection#RetrieveAccountHolder
      parameters:
      - name: accountHolderIdType
        in: path
        description: Specifies the type of the party ID
        required: true
        type: string
      - name: accountHolderId
        in: path
        description: The party number.
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/CollectionRetrieveAccountHolderBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CollectionRetrieveAccountHolderInternalErrorResponseBody'
      schemes:
      - https
  /collection/v1_0/requesttopay:
    post:
      tags:
      - collection
      summary: PaymentRequest collection
      description: Request a payment from a consumer (Payer).
      operationId: collection#PaymentRequest
      parameters:
      - name: PaymentRequestRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/CollectionPaymentRequestRequestBody'
      responses:
        "202":
          description: Accepted response.
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/CollectionPaymentRequestBadRequestResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/CollectionPaymentRequestConflictResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CollectionPaymentRequestInternalErrorResponseBody'
      schemes:
      - https
  /collection/v1_0/requesttopay/{referenceId}:
    get:
      tags:
      - collection
      summary: PaymentStatus collection
      description: Get the status of a request to pay.
      operationId: collection#PaymentStatus
      produces:
      - application/json
      parameters:
      - name: referenceId
        in: path
        description: ' UUID of transaction to get result'
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/CollectionPaymentStatusResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/CollectionPaymentStatusBadRequestResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/CollectionPaymentStatusNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CollectionPaymentStatusInternalErrorResponseBody'
      schemes:
      - https
  /disbursement/token:
    post:
      tags:
      - disbursement
      summary: NewToken disbursement
      description: Creates an Access Token.
      operationId: disbursement#NewToken
      produces:
      - application/json
      parameters:
      - name: string
        in: body
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/DisbursementNewTokenResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/DisbursementNewTokenUnauthorizedResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/DisbursementNewTokenInternalErrorResponseBody'
      schemes:
      - https
  /disbursement/v1_0/account/balance:
    get:
      tags:
      - disbursement
      summary: GetBalance disbursement
      description: Get the balance of the account
      operationId: disbursement#GetBalance
      produces:
      - application/json
      parameters:
      - name: string
        in: body
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/DisbursementGetBalanceResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/DisbursementGetBalanceBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/DisbursementGetBalanceInternalErrorResponseBody'
      schemes:
      - https
  /disbursement/v1_0/accountholder/{accountHolderIdType}/{accountHolderId}/active:
    get:
      tags:
      - disbursement
      summary: RetrieveAccountHolder disbursement
      description: Checks if an account holder is registered and active in the system
      operationId: disbursement#RetrieveAccountHolder
      parameters:
      - name: accountHolderIdType
        in: path
        description: Specifies the type of the party ID
        required: true
        type: string
      - name: accountHolderId
        in: path
        description: The party number.
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/DisbursementRetrieveAccountHolderBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/DisbursementRetrieveAccountHolderInternalErrorResponseBody'
      schemes:
      - https
  /disbursement/v1_0/transfer:
    post:
      tags:
      - disbursement
      summary: Transfer disbursement
      description: transfer an amount from the owner’s account to a payee account.
      operationId: disbursement#Transfer
      parameters:
      - name: TransferRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/DisbursementTransferRequestBody'
      responses:
        "202":
          description: Accepted response.
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/DisbursementTransferBadRequestResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/DisbursementTransferConflictResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/DisbursementTransferInternalErrorResponseBody'
      schemes:
      - https
  /disbursement/v1_0/transfer/{referenceId}:
    get:
      tags:
      - disbursement
      summary: TransferStatus disbursement
      description: Get the status of a transfer.
      operationId: disbursement#TransferStatus
      produces:
      - application/json
      parameters:
      - name: referenceId
        in: path
        description: ' UUID of transaction to get result'
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/DisbursementTransferStatusResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/DisbursementTransferStatusBadRequestResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/DisbursementTransferStatusNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/DisbursementTransferStatusInternalErrorResponseBody'
      schemes:
      - https
  /remittance/token:
    post:
      tags:
      - remittance
      summary: NewToken remittance
      description: Creates an Access Token.
      operationId: remittance#NewToken
      produces:
      - application/json
      parameters:
      - name: string
        in: body
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/RemittanceNewTokenResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/RemittanceNewTokenUnauthorizedResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RemittanceNewTokenInternalErrorResponseBody'
      schemes:
      - https
  /remittance/v1_0/account/balance:
    get:
      tags:
      - remittance
      summary: GetBalance remittance
      description: Get the balance of the account
      operationId: remittance#GetBalance
      produces:
      - application/json
      parameters:
      - name: string
        in: body
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Ok
          schema:
            $ref: '#/definitions/RemittanceGetBalanceResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/RemittanceGetBalanceBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RemittanceGetBalanceInternalErrorResponseBody'
      schemes:
      - https
  /remittance/v1_0/accountholder/{accountHolderIdType}/{accountHolderId}/active:
    get:
      tags:
      - remittance
      summary: RetrieveAccountHolder remittance
      description: Checks if an account holder is registered and active in the system
      operationId: remittance#RetrieveAccountHolder
      parameters:
      - name: accountHolderIdType
        in: path
        description: Specifies the type of the party ID
        required: true
        type: string
      - name: accountHolderId
        in: path
        description: The party number.
        required: true
        type: string
      responses:
        "200":
          description: Ok. True if account holder is registered and active, false if the account holder is not active or not found found
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/RemittanceRetrieveAccountHolderBadRequestResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RemittanceRetrieveAccountHolderInternalErrorResponseBody'
      schemes:
      - https
  /remittance/v1_0/transfer:
    post:
      tags:
      - remittance
      summary: Transfer remittance
      description: Request a payment from a consumer (Payer).
      operationId: remittance#Transfer
      parameters:
      - name: TransferRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/RemittanceTransferRequestBody'
      responses:
        "202":
          description: Accepted response.
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/RemittanceTransferBadRequestResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/RemittanceTransferConflictResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RemittanceTransferInternalErrorResponseBody'
      schemes:
      - https
  /remittance/v1_0/transfer/{referenceId}:
    get:
      tags:
      - remittance
      summary: TransferStatus remittance
      description: Get the status of a request to pay.
      operationId: remittance#TransferStatus
      produces:
      - application/json
      parameters:
      - name: referenceId
        in: path
        description: ' UUID of transaction to get result'
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/RemittanceTransferStatusResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/RemittanceTransferStatusBadRequestResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/RemittanceTransferStatusNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RemittanceTransferStatusInternalErrorResponseBody'
      schemes:
      - https
  /v1_0/apiuser:
    post:
      tags:
      - user
      summary: NewUser user
      description: Used to create an API user in the sandbox target environment.
      operationId: user#NewUser
      parameters:
      - name: NewUserRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserNewUserRequestBody'
      responses:
        "201":
          description: Created response.
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/UserNewUserBadRequestResponseBody'
        "409":
          description: Conflict response.
          schema:
            $ref: '#/definitions/UserNewUserConflictResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/UserNewUserInternalErrorResponseBody'
      schemes:
      - https
  /v1_0/apiuser/{X-Reference-Id}:
    get:
      tags:
      - user
      summary: GetUser user
      description: Used to get API user information.
      operationId: user#GetUser
      parameters:
      - name: GetUserRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserGetUserRequestBody'
          required:
          - X-Reference-Id
      responses:
        "200":
          description: OK response.
          schema:
            type: string
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/UserGetUserBadRequestResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/UserGetUserNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/UserGetUserInternalErrorResponseBody'
      schemes:
      - https
  /v1_0/apiuser/{X-Reference-Id}/apikey:
    post:
      tags:
      - user
      summary: NewKey user
      description: Used to create an API key for an API user in the sandbox target environment.
      operationId: user#NewKey
      parameters:
      - name: NewKeyRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserNewKeyRequestBody'
          required:
          - X-Reference-Id
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/UserNewKeyResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/UserNewKeyBadRequestResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/UserNewKeyNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/UserNewKeyInternalErrorResponseBody'
      schemes:
      - https
definitions:
  CollectionGetBalanceBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionGetBalanceInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal error. The returned response contains details. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionGetBalanceResponseBody:
    title: 'Mediatype identifier: balance; view=default'
    type: object
    properties:
      availableBalance:
        type: string
        description: The available balance of the account
        example: Vel in autem.
      currency:
        type: string
        description: ISO4217 Currency
        example: Unde aut dolor aut consequatur.
    description: GetBalanceResponseBody result type (default view)
    example:
      availableBalance: Error qui asperiores repudiandae blanditiis illum quos.
      currency: Provident ea placeat rem.
  CollectionNewTokenInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionNewTokenResponseBody:
    title: 'Mediatype identifier: tokenpost200applicationjsonresponse; view=default'
    type: object
    properties:
      access_token:
        type: string
        description: A JWT token which can be used to authorize against the other API end-points.
        example: Iusto beatae est ut perspiciatis ut harum.
      expires_in:
        type: integer
        description: The validity time in seconds of the token.
        example: 1892691476
        format: int32
      token_type:
        type: string
        description: The token type.
        example: Aspernatur ut et consequuntur placeat quam.
    description: NewTokenResponseBody result type (default view)
    example:
      access_token: Est dolores ipsa.
      expires_in: 1590797597
      token_type: Minima numquam quas omnis quis deserunt cupiditate.
  CollectionNewTokenUnauthorizedResponseBody:
    title: 'Mediatype identifier: tokenpost401applicationjsonresponse; view=default'
    type: object
    properties:
      token_error:
        type: string
        description: An error code.
        example: Veniam sit doloribus qui ea nobis libero.
    description: Unauthorized (default view)
    example:
      token_error: Qui est cupiditate autem dolorum nostrum ut.
  CollectionPaymentRequestBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionPaymentRequestConflictResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Conflict, duplicated reference id (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionPaymentRequestInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionPaymentRequestRequestBody:
    title: CollectionPaymentRequestRequestBody
    type: object
    properties:
      amount:
        type: string
        description: Amount that will be debited from the payer account.
        example: Dolores quod.
      currency:
        type: string
        description: ISO4217 Currency
        example: Quas labore est dicta non qui.
      externalId:
        type: string
        description: External id is used as a reference to the transaction.
        example: Accusamus et mollitia ut.
      payeeNote:
        type: string
        description: Message that will be written in the payee transaction history note field.
        example: Voluptatem dolorem voluptatem laudantium ullam.
      payer:
        $ref: '#/definitions/PartyRequestBody'
      payerMessage:
        type: string
        description: Message that will be written in the payer transaction history message field.
        example: Velit et sint ea aliquid veniam illum.
    example:
      amount: Deleniti nihil aut dignissimos molestias velit.
      currency: Aliquid nihil.
      externalId: Ex deserunt fugiat.
      payeeNote: Voluptatem sequi eos quasi nemo voluptatibus ea.
      payer:
        partyId: Corporis perspiciatis provident quis adipisci harum.
        partyIdType: EMAIL
      payerMessage: Recusandae consequatur ratione maxime nesciunt fugiat.
  CollectionPaymentStatusBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. an incorrectly formatted reference id was provided. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionPaymentStatusInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionPaymentStatusNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource not found. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionPaymentStatusResponseBody:
    title: 'Mediatype identifier: requesttopayresult; view=default'
    type: object
    properties:
      amount:
        type: string
        description: Amount that will be debited from the payer account.
        example: "100"
      currency:
        type: string
        description: ISO4217 Currency
        example: UGX
      externalId:
        type: string
        description: External id provided in the creation of the requestToPay transaction.
        example: "947354"
      financialTransactionId:
        type: string
        description: Financial transactionIdd from mobile money manager.
        example: "23503452"
      payeeNote:
        type: string
        description: Message that will be written in the payee transaction history note field.
        example: Velit quidem ea sunt nobis.
      payer:
        $ref: '#/definitions/PartyResponseBody'
      payerMessage:
        type: string
        description: Message that will be written in the payer transaction history message field.
        example: Recusandae quo est.
      reason:
        $ref: '#/definitions/ErrorReasonResponseBody'
      status:
        type: string
        description: Status
        example: SUCCESSFUL
        enum:
        - PENDING
        - SUCCESSFUL
        - FAILED
    description: PaymentStatusResponseBody result type (default view)
    example:
      amount: "100"
      currency: UGX
      externalId: "947354"
      financialTransactionId: "23503452"
      payeeNote: Qui occaecati deleniti.
      payer:
        partyId: In maxime fuga quo consequatur dolores.
        partyIdType: MSISDN
      payerMessage: Porro provident facilis.
      reason:
        code: PAYER_NOT_FOUND
        message: Payee does not exist
      status: PENDING
  CollectionRetrieveAccountHolderBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CollectionRetrieveAccountHolderInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal error. The returned response contains details. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementGetBalanceBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementGetBalanceInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. The returned response contains details. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementGetBalanceResponseBody:
    title: 'Mediatype identifier: balance; view=default'
    type: object
    properties:
      availableBalance:
        type: string
        description: The available balance of the account
        example: Est itaque alias quibusdam est.
      currency:
        type: string
        description: ISO4217 Currency
        example: Quam similique.
    description: GetBalanceResponseBody result type (default view)
    example:
      availableBalance: Inventore fugiat eaque quod.
      currency: Repudiandae dolore rerum.
  DisbursementNewTokenInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementNewTokenResponseBody:
    title: 'Mediatype identifier: tokenpost200applicationjsonresponse; view=default'
    type: object
    properties:
      access_token:
        type: string
        description: A JWT token which can be used to authorize against the other API end-points.
        example: Similique nam quas.
      expires_in:
        type: integer
        description: The validity time in seconds of the token.
        example: 1650204335
        format: int32
      token_type:
        type: string
        description: The token type.
        example: Est laborum in ratione.
    description: NewTokenResponseBody result type (default view)
    example:
      access_token: Odio itaque id qui laborum repudiandae et.
      expires_in: 1061546812
      token_type: Maxime sit tempore quasi cupiditate.
  DisbursementNewTokenUnauthorizedResponseBody:
    title: 'Mediatype identifier: tokenpost401applicationjsonresponse; view=default'
    type: object
    properties:
      token_error:
        type: string
        description: An error code.
        example: Placeat cumque dignissimos voluptatem.
    description: Unauthorized (default view)
    example:
      token_error: Quam at temporibus corrupti cum.
  DisbursementRetrieveAccountHolderBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementRetrieveAccountHolderInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal error. The returned response contains details. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementTransferBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementTransferConflictResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Conflict, duplicated reference id (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementTransferInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementTransferRequestBody:
    title: DisbursementTransferRequestBody
    type: object
    properties:
      amount:
        type: string
        description: Amount that will be debited from the payer account.
        example: Corrupti molestiae in et optio est et.
      currency:
        type: string
        description: ISO4217 Currency
        example: Mollitia tempore fugiat.
      externalId:
        type: string
        description: External id is used as a reference to the transaction.
        example: Ut voluptatem doloribus natus aut et possimus.
      payee:
        $ref: '#/definitions/PartyRequestBody'
      payeeNote:
        type: string
        description: Message that will be written in the payee transaction history note field.
        example: Voluptatem perferendis assumenda qui natus nesciunt dolorum.
      payerMessage:
        type: string
        description: Message that will be written in the payer transaction history message field.
        example: Tempore consequatur.
    example:
      amount: Est tempore qui molestiae molestiae sequi.
      currency: Eos aspernatur reiciendis dignissimos commodi officiis vero.
      externalId: Est facilis sunt.
      payee:
        partyId: Corporis perspiciatis provident quis adipisci harum.
        partyIdType: EMAIL
      payeeNote: Vero sequi est.
      payerMessage: Sit quo velit nesciunt nihil et quasi.
  DisbursementTransferStatusBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. an incorrectly formatted reference id was provided. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementTransferStatusInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementTransferStatusNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource not found. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  DisbursementTransferStatusResponseBody:
    title: 'Mediatype identifier: transferresult; view=default'
    type: object
    properties:
      amount:
        type: string
        description: ' Amount that will be debited from the payer account.'
        example: Vel et delectus et quisquam.
      currency:
        type: string
        description: ISO4217 Currency
        example: Aperiam sit velit.
      externalId:
        type: string
        description: External id is used as a reference to the transaction
        example: Doloremque aut voluptatum.
      financialTransactionId:
        type: string
        description: Financial transactionIdd from mobile money manager
        example: Provident quia adipisci maxime ut.
      payee:
        $ref: '#/definitions/PartyResponseBody'
      payeeNote:
        type: string
        description: Message that will be written in the payee transaction history note field.
        example: Tempora magni laudantium est.
      reason:
        $ref: '#/definitions/ErrorReasonResponseBody'
      status:
        type: string
        description: Status
        example: PENDING
        enum:
        - PENDING
        - SUCCESSFUL
        - FAILED
    description: TransferStatusResponseBody result type (default view)
    example:
      amount: Esse consequatur maxime.
      currency: Eos cum voluptatum qui enim quam debitis.
      externalId: Minus aut voluptatem enim fugiat modi.
      financialTransactionId: Aut dolor quos eum ut neque.
      payee:
        partyId: In maxime fuga quo consequatur dolores.
        partyIdType: MSISDN
      payeeNote: Sit beatae maiores modi.
      reason:
        code: PAYER_NOT_FOUND
        message: Payee does not exist
      status: FAILED
  ErrorReasonResponseBody:
    title: 'Mediatype identifier: errorreason; view=default'
    type: object
    properties:
      code:
        type: string
        description: Code
        example: PAYER_NOT_FOUND
        enum:
        - PAYEE_NOT_FOUND
        - PAYER_NOT_FOUND
        - NOT_ALLOWED
        - NOT_ALLOWED_TARGET_ENVIRONMENT
        - INVALID_CALLBACK_URL_HOST
        - INVALID_CURRENCY
        - SERVICE_UNAVAILABLE
        - INTERNAL_PROCESSING_ERROR
        - NOT_ENOUGH_FUNDS
        - PAYER_LIMIT_REACHED
        - PAYEE_NOT_ALLOWED_TO_RECEIVE
        - PAYMENT_NOT_APPROVED
        - RESOURCE_NOT_FOUND
        - APPROVAL_REJECTED
        - EXPIRED
        - TRANSACTION_CANCELED
        - RESOURCE_ALREADY_EXIST
      message:
        type: string
        description: message
        example: Payee does not exist
    description: Error Reason
    example:
      code: PAYER_NOT_FOUND
      message: Payee does not exist
  PartyRequestBody:
    title: PartyRequestBody
    type: object
    properties:
      partyId:
        type: string
        example: Ipsa exercitationem.
      partyIdType:
        type: string
        description: PartyIdType
        example: EMAIL
        enum:
        - MSISDN
        - EMAIL
        - PARTY_CODE
    description: Party identifies a account holder in the wallet platform.
    example:
      partyId: Vel distinctio voluptas.
      partyIdType: EMAIL
  PartyResponseBody:
    title: PartyResponseBody
    type: object
    properties:
      partyId:
        type: string
        example: Quaerat et in eos.
      partyIdType:
        type: string
        description: PartyIdType
        example: PARTY_CODE
        enum:
        - MSISDN
        - EMAIL
        - PARTY_CODE
    description: Party identifies a account holder in the wallet platform.
    example:
      partyId: Debitis est voluptatem.
      partyIdType: EMAIL
  PaymentServerUrlResponseBody:
    title: PaymentServerUrlResponseBody
    type: object
    properties:
      apiKey:
        type: string
        description: The payment server URL
        example: Rerum assumenda dolor.
    example:
      apiKey: Dolorem quo deleniti velit ratione esse doloribus.
  RemittanceGetBalanceBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceGetBalanceInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. The returned response contains details. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceGetBalanceResponseBody:
    title: 'Mediatype identifier: balance; view=default'
    type: object
    properties:
      availableBalance:
        type: string
        description: The available balance of the account
        example: Ea natus cupiditate possimus non et et.
      currency:
        type: string
        description: ISO4217 Currency
        example: Vitae et provident tenetur consequatur qui.
    description: GetBalanceResponseBody result type (default view)
    example:
      availableBalance: Consectetur neque molestiae.
      currency: Itaque aliquam nihil a et.
  RemittanceNewTokenInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceNewTokenResponseBody:
    title: 'Mediatype identifier: tokenpost200applicationjsonresponse; view=default'
    type: object
    properties:
      access_token:
        type: string
        description: A JWT token which can be used to authorize against the other API end-points.
        example: Et nostrum vel quas.
      expires_in:
        type: integer
        description: The validity time in seconds of the token.
        example: 1918312867
        format: int32
      token_type:
        type: string
        description: The token type.
        example: Ea neque.
    description: NewTokenResponseBody result type (default view)
    example:
      access_token: Excepturi voluptate.
      expires_in: 1522644178
      token_type: Veritatis libero eveniet reiciendis magnam tempora.
  RemittanceNewTokenUnauthorizedResponseBody:
    title: 'Mediatype identifier: tokenpost401applicationjsonresponse; view=default'
    type: object
    properties:
      token_error:
        type: string
        description: An error code.
        example: Reprehenderit maxime optio provident optio.
    description: Unauthorized (default view)
    example:
      token_error: Non adipisci quo dolorem error temporibus explicabo.
  RemittanceRetrieveAccountHolderBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceRetrieveAccountHolderInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal error. The returned response contains details. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceTransferBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceTransferConflictResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Conflict, duplicated reference id (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceTransferInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Error. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceTransferRequestBody:
    title: RemittanceTransferRequestBody
    type: object
    properties:
      amount:
        type: string
        description: Amount that will be debited from the payer account.
        example: Voluptates similique est quam molestias alias illo.
      currency:
        type: string
        description: ISO4217 Currency
        example: Qui qui fuga nam dicta labore numquam.
      externalId:
        type: string
        description: External id is used as a reference to the transaction.
        example: Qui quam dolorum.
      payee:
        $ref: '#/definitions/PartyRequestBody'
      payeeNote:
        type: string
        description: Message that will be written in the payee transaction history note field.
        example: Ut non officia molestiae amet modi qui.
      payerMessage:
        type: string
        description: Message that will be written in the payer transaction history message field.
        example: Sequi expedita occaecati odio.
    example:
      amount: Suscipit magnam dolores eligendi itaque consequuntur.
      currency: Nostrum soluta quaerat et et ipsa voluptatum.
      externalId: Et accusantium magnam accusantium veritatis.
      payee:
        partyId: Corporis perspiciatis provident quis adipisci harum.
        partyIdType: EMAIL
      payeeNote: Sed omnis vel et est explicabo vitae.
      payerMessage: Magnam laborum et.
  RemittanceTransferStatusBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request, e.g. an incorrectly formatted reference id was provided. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceTransferStatusInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Error. Note that if the retreieved transfer has failed, it will not cause this status to be returned. This status is only returned if the GET request itself fails. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceTransferStatusNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource not found. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RemittanceTransferStatusResponseBody:
    title: 'Mediatype identifier: transferresult; view=default'
    type: object
    properties:
      amount:
        type: string
        description: ' Amount that will be debited from the payer account.'
        example: Rem corporis qui quod sit aut.
      currency:
        type: string
        description: ISO4217 Currency
        example: Ut nemo eos delectus voluptatum eaque.
      externalId:
        type: string
        description: External id is used as a reference to the transaction
        example: Facilis rerum eum cupiditate sed sint.
      financialTransactionId:
        type: string
        description: Financial transactionIdd from mobile money manager
        example: Maiores sed magnam doloremque at.
      payee:
        $ref: '#/definitions/PartyResponseBody'
      payeeNote:
        type: string
        description: Message that will be written in the payee transaction history note field.
        example: Similique numquam et quos ut.
      reason:
        $ref: '#/definitions/ErrorReasonResponseBody'
      status:
        type: string
        description: Status
        example: FAILED
        enum:
        - PENDING
        - SUCCESSFUL
        - FAILED
    description: TransferStatusResponseBody result type (default view)
    example:
      amount: Alias ullam praesentium.
      currency: Commodi incidunt debitis corporis nihil.
      externalId: Placeat molestias sapiente aperiam aliquam.
      financialTransactionId: Cum ad ab vel nihil sed.
      payee:
        partyId: In maxime fuga quo consequatur dolores.
        partyIdType: MSISDN
      payeeNote: Quia voluptatem tempore tempore.
      reason:
        code: PAYER_NOT_FOUND
        message: Payee does not exist
      status: SUCCESSFUL
  TargetEnvironmentResponseBody:
    title: TargetEnvironmentResponseBody
    type: object
    properties:
      apiKey:
        type: string
        description: The target environment
        example: Dolor ad non deleniti dolores blanditiis et.
    example:
      apiKey: Ut optio et atque eos ducimus expedita.
  UserGetUserBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserGetUserDetailsBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserGetUserDetailsInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. Check log for information. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserGetUserDetailsResponseBody:
    title: 'Mediatype identifier: apiuserresult; view=default'
    type: object
    properties:
      paymentServerUrl:
        $ref: '#/definitions/PaymentServerUrlResponseBody'
      providerCallbackHost:
        type: string
        description: The provider callback host
        example: Voluptatibus autem ut ea adipisci perferendis.
      targetEnvironment:
        $ref: '#/definitions/TargetEnvironmentResponseBody'
    description: GetUserDetailsResponseBody result type (default view)
    example:
      paymentServerUrl:
        apiKey: Quidem illum voluptatibus dolor cum commodi ea.
      providerCallbackHost: Eveniet est voluptatum itaque dolor sunt.
      targetEnvironment:
        apiKey: Natus est molestiae quibusdam quis et.
  UserGetUserInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal error. Check log for information. (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserGetUserNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Not found, reference id not found or closed in sandbox (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserGetUserRequestBody:
    title: UserGetUserRequestBody
    type: object
    properties:
      X-Reference-Id:
        type: string
        description: Format - UUID.
        example: Mollitia omnis.
    example:
      X-Reference-Id: Ut illo blanditiis veritatis ea qui aut.
    required:
    - X-Reference-Id
  UserNewKeyBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserNewKeyInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal error. Check log for information. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserNewKeyNotFoundResponseBody:
    title: 'Mediatype identifier: errorreason; view=default'
    type: object
    properties:
      code:
        type: string
        description: Code
        example: PAYER_NOT_FOUND
        enum:
        - PAYEE_NOT_FOUND
        - PAYER_NOT_FOUND
        - NOT_ALLOWED
        - NOT_ALLOWED_TARGET_ENVIRONMENT
        - INVALID_CALLBACK_URL_HOST
        - INVALID_CURRENCY
        - SERVICE_UNAVAILABLE
        - INTERNAL_PROCESSING_ERROR
        - NOT_ENOUGH_FUNDS
        - PAYER_LIMIT_REACHED
        - PAYEE_NOT_ALLOWED_TO_RECEIVE
        - PAYMENT_NOT_APPROVED
        - RESOURCE_NOT_FOUND
        - APPROVAL_REJECTED
        - EXPIRED
        - TRANSACTION_CANCELED
        - RESOURCE_ALREADY_EXIST
      message:
        type: string
        description: message
        example: Payee does not exist
    description: Not found, reference id not found or closed in sandbox (default view)
    example:
      code: PAYER_NOT_FOUND
      message: Payee does not exist
  UserNewKeyRequestBody:
    title: UserNewKeyRequestBody
    type: object
    properties:
      X-Reference-Id:
        type: string
        description: Format - UUID.
        example: Beatae odit dolore totam tempore alias dolores.
    example:
      X-Reference-Id: Labore qui ad sed.
    required:
    - X-Reference-Id
  UserNewKeyResponseBody:
    title: UserNewKeyResponseBody
    type: object
    properties:
      apiKey:
        type: string
        description: The created API user key
        example: Omnis adipisci nihil.
    example:
      apiKey: Porro voluptate.
  UserNewUserBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Bad request, e.g. invalid data was sent in the request. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserNewUserConflictResponseBody:
    title: 'Mediatype identifier: errorreason; view=default'
    type: object
    properties:
      code:
        type: string
        description: Code
        example: PAYER_NOT_FOUND
        enum:
        - PAYEE_NOT_FOUND
        - PAYER_NOT_FOUND
        - NOT_ALLOWED
        - NOT_ALLOWED_TARGET_ENVIRONMENT
        - INVALID_CALLBACK_URL_HOST
        - INVALID_CURRENCY
        - SERVICE_UNAVAILABLE
        - INTERNAL_PROCESSING_ERROR
        - NOT_ENOUGH_FUNDS
        - PAYER_LIMIT_REACHED
        - PAYEE_NOT_ALLOWED_TO_RECEIVE
        - PAYMENT_NOT_APPROVED
        - RESOURCE_NOT_FOUND
        - APPROVAL_REJECTED
        - EXPIRED
        - TRANSACTION_CANCELED
        - RESOURCE_ALREADY_EXIST
      message:
        type: string
        description: message
        example: Payee does not exist
    description: Conflict, duplicated reference id (default view)
    example:
      code: PAYER_NOT_FOUND
      message: Payee does not exist
  UserNewUserInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal error. Check log for information. (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  UserNewUserRequestBody:
    title: UserNewUserRequestBody
    type: object
    properties:
      providerCallbackHost:
        type: string
        description: The provider callback host
        example: Dolorem architecto aperiam deserunt.
    example:
      providerCallbackHost: Eos ut iusto nisi aliquam soluta.
externalDocs:
  description: Library Usage
  url: https://github.com/wondenge/momo-go/blob/master/README.md
